<%= form_for @provider do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :default_domain_id %><br />
    <%= f.text_field :default_domain_id %>
  </p>
  <p>
    <%= f.label :default_source_doc_id %><br />
    <%= f.text_field :default_source_doc_id %>
  </p>
  <p>
    <%= f.label :default_source_language_id %><br />
    <%= f.text_field :default_source_language_id %>
  </p>
  <p>
    <%= f.label :default_target_language_id %><br />
    <%= f.text_field :default_target_language_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
